@model ltbdb.Models.BookViewAllContainer
@using ltbdb.Models

@{
    ViewBag.Title = "Alle Inhalte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alle Inhalte</h2>
<ul class="book">
	@foreach (BookModel book in Model.Books) {
		<li>
			<a href="@Url.Action("view", "book", new { id = @book.Id })">
				<div class="book-number">Nr. @book.Number</div>
				<div>
					<img src="@book.Filename" />
				</div>
				<span>@book.Name</span>
			</a>
		</li>
	 }
</ul>
<div class="pager">
	@if(Model.PageOffset.HasPrevious) {
		<a href="@Url.Action("index", "category", new { ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })">[zurück]</a>
	}
	@if(Model.PageOffset.HasNext) {
		<a href="@Url.Action("index", "category", new { ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">[weiter]</a>
	}
</div>
