@model ltbdb.Models.BookViewCategoryContainer
@using ltbdb.Models
@using ltbdb.Core

@{
	ViewBag.Title = String.Format("{0} | Lustiges Taschenbuch - Datenbank", Model.Category.Name);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Header = String.Format("Kategorie \"{0}\"", @Model.Category.Name);
}

<div class="book">
	<ul>
	@if(Model.PageOffset.HasPrevious) {
		<li>
			<a class="pager" href="@Url.Action("view", "category", new { id = Model.Category.Id, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })">[zurück]</a>
		</li>
	}
	@foreach (BookModel book in Model.Books) {
		<li>
			<a href="@Url.Action("view", "book", new { id = @book.Id })">
				<div class="img">
					<img src="@ImageStore.GetWebPath(book.Filename, ImageType.Thumbnail)" alt="Cover" />
				</div>
				<div class="header">Nr. @book.Number - @book.Name</div>
				<span>@book.CategoryName</span>
			</a>
		</li>
	}
	@if(Model.PageOffset.HasNext) {
		<li>
			<a class="pager" href="@Url.Action("view", "category", new { id = Model.Category.Id, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">[weiter]</a>
		</li>
	}
	</ul>
</div>