@model ltbdb.Models.BookViewDetailModel
@using ltbdb.Models;

@{
    ViewBag.Title = String.Format("Nr. {0} - {1}", Model.Book.Number, Model.Book.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nr. @Model.Book.Number - @Model.Book.Name</h2>
<ul class="story-list">
@foreach (StoryModel story in Model.Stories)
{
	<li>@story.Name</li>
}
</ul>

<h2>Tags</h2>
<div class="tag-container">
@foreach (TagModel tag in Model.Tags)
{
	<div class="tag"><a href="@Url.Action("view", "tag", new { id = tag.Id })">@tag.Name</a></div>
}
</div>

<h2>Details</h2>
<dl class="details">
	<dt>Nr.</dt>
	<dd>@Model.Book.Number</dd>
	<dt>Kategorie</dt>
	<dd><a href="@Url.Action("view", "category", new { id = Model.Book.Category })">@Model.Book.CategoryName</a></dd>
	<dt>Hinzugefügt</dt>
	<dd>@String.Format(new System.Globalization.CultureInfo("de-DE"), "{0:dddd, d MMM, yyyy}", Model.Book.Created)</dd>
</dl>