@model ltbdb.Models.BookViewDetailModel
@using ltbdb.Models;

@{
    ViewBag.Title = String.Format("Nr. {0} - {1}", Model.Book.Number, Model.Book.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="position: relative;">
	<div style="position: absolute; top: 0px; right: 0px; color: #6b7b95; font-size: 8pt;">
		Kategorie: <a href="@Url.Action("view", "category", new { id = Model.Book.Category })">@Model.Book.CategoryName</a> | Hinzugefügt am: @String.Format(new System.Globalization.CultureInfo("de-DE"), "{0:dddd, d MMM, yyyy}", Model.Book.Created) | <a href="@Url.Action("edit", "book", new { id = Model.Book.Id } )">Bearbeiten</a> | <a id="delete" href="@Url.Action("delete", "book", new { id = Model.Book.Id } )">Löschen</a>
	</div>
	<h2>Nr. @Model.Book.Number - @Model.Book.Name</h2>
	<div class="details">
		<div style="float: left;">
			@if(Model.Book.Stories.Count() > 0) {
			<ul class="story-list">
			@foreach (string story in Model.Book.Stories)
			{
				<li>@story</li>
			}
			</ul>
			} else {
			<span class="story-list">
				Keine Inhalte angegeben. 
			</span>
			}
		</div>
		<div style="float: right;">
			<img src="@Model.Book.Filename" />
		</div>
	</div>

	<h2>Tags</h2>
	<div class="tag-container">
	@foreach (TagModel tag in Model.Tags)
	{
		<div class="tag" style="position: relative;">
			@if(Request.IsAuthenticated) {
			<a class="tag-remove" href="@Url.Action("unlink", "tag", new { id = tag.Id, bookid = Model.Book.Id })" title="Tag entfernen."><img src="~/Content/link_break.png" /></a>	
			}
			<a href="@Url.Action("view", "tag", new { id = tag.Id })" title="Referenzen: @tag.References">@tag.Name</a>
		</div>
	}
		<div class="tag-add" id="tag-add">
			<a class="addtag" href="@Url.Action("add", "tag", new { id = Model.Book.Id })">[+]</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function () {

		var link = null;

		var jbox_delete = new jBox('Modal', {
			attach: $('#delete'),
			content: $('#delete-msg-box'),
			overlay: false,
			closeOnClick: 'body',
			preventDefault: true,
			onOpen: function () {
				$('#error').text('');
				link = this.source[0].href;
			},
			onClose: function () {
				link = null;
			}
		});

		$('#delete-button').click(function () {
			if (link == null)
				return;

			$.ajax({
				type: "POST",
				url: link,
				statusCode: {
					403: function () {
						location.href = '/account/login?ReturnUrl=' + encodeURIComponent(location.pathname);
					}
				},
				success: function (data) {
					if (data.success == false) {
						$('#error').text('Buch konnte nicht gelöscht werden');
					} else {
						$('#error').text('');
						jbox_delete.close();
						location.href = '/';
					}
				}
			})
		});
	});
</script>
<div id="delete-msg-box" style="display: none;">
	<p>
		Dieses Buch wirklich löschen?
	</p>
	<p id="error" style="color: #ff0000;">
	</p>
	<div>
		<input id="delete-button" class="button-red" type="button" value="Löschen" />
	</div>
</div>