@model ltbdb.Models.BookViewDetailContainer
@using ltbdb.Models
@using ltbdb.Core.Helpers

@{
	ViewBag.Title = String.Format("Nr. {0} - {1} | {2}", Model.Book.Number, Model.Book.Name, Model.Book.Category.Name);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Header = String.Format("Nr. {0} - {1}", @Model.Book.Number, @Model.Book.Name);
}

<div class="details">
	<div class="img">
		<img src="@ImageStore.GetWebPath(Model.Book.Filename, ImageType.Thumbnail)" alt="Cover" />
	</div>
	<h3>Kategorie</h3>
	<ul>
		<li><a href="@Url.Action("view", "category", new { id = Model.Book.Category.Id })">@Model.Book.Category.Name</a></li>
	</ul>
	<h3>Inhalte</h3>
	<ul>
	@foreach (var story in Model.Book.Stories)
	{
		<li>@story</li>
	}
	</ul>
	<h3>Tags</h3>
	<ul>
	@foreach (var tag in Model.Tags)
	{
		<li><a href="@Url.Action("view", "tag", new { id = tag.Name })">@tag.Name</a></li>
	}
	</ul>
</div>