@model ltbdb.Models.TagViewContainer
@using ltbdb.Models;

@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tags</h2>
<div class="tag-container">
@foreach (var tag in Model.Tags)
{
	<div class="tag" style="position: relative;">
		<a href="@Url.Action("view", "tag", new { id = tag.Id })" title="Referenzen: @tag.References">@tag.Name</a>
		@if(Request.IsAuthenticated) {
		<div class="tag-edit">
			<a href="@Url.Action("edit", "tag", new { id = tag.Id })" title="Tag bearbeiten."><img src="~/Content/pen.png" /></a>
			<a class="delete" href="@Url.Action("delete", "tag", new { id = tag.Id })" title="Tag löschen."><img src="~/Content/bin.png" /></a>
		</div>
		}
	</div>
}
</div>
<script type="text/javascript">
	$(function () {

		var link = null;

		var jbox_delete = new jBox('Modal', {
			attach: $('.delete'),
			content: $('#delete-msg-box'),
			overlay: false,
			closeOnClick: 'body',
			preventDefault: true,
			onOpen: function () {
				$('#error').text('');
				link = this.source[0].href;
			},
			onClose: function () {
				link = null;
			}
		});

		$('#delete-button').click(function () {
			if (link == null)
				return;

			$.ajax({
				type: "POST",
				url: link,
				statusCode: {
					403: function () {
						location.href = '/account/login?ReturnUrl=' + encodeURIComponent(location.pathname);
					}
				},
				success: function (data) {
					if (data.success == false) {
						$('#error').text('Tag konnte nicht gelöscht werden');
					} else {
						$('#error').text('');
						jbox_delete.close();
						location.href = '/tags';
					}
				}
			})
		});
	});
</script>
<div id="delete-msg-box" style="display: none;">
	<p>
		Diesen Tag wirklich löschen?
	</p>
	<p id="error" style="color: #ff0000;">
	</p>
	<div>
		<input id="delete-button" class="button-red" type="button" value="Löschen" />
	</div>
</div>