@model ltbdb.Models.TagViewContainer
@using ltbdb.Models;

@{
	ViewBag.Title = "Tags";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tags</h2>
<div class="tags">
@foreach (var tag in Model.Tags)
{
	<div class="tag button-gray">
		@if(Request.IsAuthenticated) {
		<a class="upper" href="@Url.Action("edit", "tag", new { id = tag.Id })" title="Dieses Tag bearbeiten."><i class="material-icons bigger">edit_mode</i></a>
		<span class="lower delete" title="Dieses Tag löschen." data-id="@tag.Id" data-title="Tag &quot;@tag.Name&quot;"><i class="material-icons bigger">delete_forever</i></span>
		}
		<a href="@Url.Action("view", "tag", new { id = tag.Name })" title="">@tag.Name</a>
	</div>
}
</div>
@if(Request.IsAuthenticated && Model.UnreferencedTags.Count() > 0) {
<h2>Unbenutze Tags</h2>
<div class="tags">
@foreach (var tag in Model.UnreferencedTags)
{
	<div class="tag button-gray">
		@if(Request.IsAuthenticated) {
		<a class="upper" href="@Url.Action("edit", "tag", new { id = tag.Id })" title="Dieses Tag bearbeiten."><i class="material-icons bigger">edit_mode</i></a>
		<span class="lower delete" title="Dieses Tag löschen." data-id="@tag.Id" data-title="Tag &quot;@tag.Name&quot;"><i class="material-icons bigger">delete_forever</i></span>
		}
		<a href="@Url.Action("view", "tag", new { id = tag.Name })" title="">@tag.Name</a>
	</div>
}
</div>
}
<script type="text/javascript">
	$(function () {
		var id = null;

		var jbox_delete = new jBox('Modal', {
			attach: $('.delete'),
			content: $('#delete-msg-box'),
			overlay: true,
			closeOnClick: 'body',
			preventDefault: true,
			closeButton: 'title',
			getTitle: 'data-title',
			onOpen: function () {
				id = this.source.attr('data-id');
			},
			onClose: function () {
				id = null;
			}
		});

		$('#delete-button').click(function () {
			if (id == null)
				return;

			$.ajax({
				type: "POST",
				url: '/api/tag/delete/' + id,
				statusCode: {
					403: function () {
						location.href = '/account/login?ReturnUrl=' + encodeURIComponent(location.pathname);
					},
					404: function () {
						alert('Resource not found.');
					}
				},
				success: function (data) {
					if (data.success) {
						jbox_delete.close();
						location.href = '/tags';
					}
				}
			})
		});
	});
</script>
<div id="delete-msg-box" style="display: none;">
	<p>
		Diesen Tag wirklich löschen?
	</p>
	<div>
		<input id="delete-button" class="button-red" type="button" value="Löschen" />
	</div>
</div>