@model ltbdb.Models.BookViewTagContainer
@using ltbdb.Models
@using ltbdb.Core

@{
	ViewBag.Title = String.Format("Inhalte getaggt mit \"{0}\" | Lustiges Taschenbuch - Datenbank", Model.Tag.Name);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Header = String.Format("Inhalte getaggt mit \"{0}\"", @Model.Tag.Name);
}

<div class="book">
	<ul>
	@if(Model.PageOffset.HasPrevious) {
		<li>
			<a class="pager" href="@Url.Action("index", "category", new { ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })">[zurück]</a>
		</li>
	 }
	@foreach (var book in Model.Books) {
		<li>
			<a href="@Url.Action("view", "book", new { id = @book.Id })">
				<div class="img">
					<img src="@ImageStore.GetWebPath(book.Filename, ImageType.Thumbnail)" alt="Cover" />
				</div>
				<div class="header">Nr. @book.Number - @book.Name</div>
				<span>@book.Category.Name</span>
			</a>
		</li>
	}
	@if(Model.PageOffset.HasNext) {
		<li>
			<a class="pager" href="@Url.Action("view", "tag", new { id = Model.Tag.Id, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">[weiter]</a>
		</li>
	}
	</ul>
</div>