@model ltbdb.Models.BookViewTagContainer
@using ltbdb.Models
@using ltbdb.Core

@{
	ViewBag.Title = String.Format("Inhalte getaggt mit \"{0}\" | Lustiges Taschenbuch - Datenbank", Model.Tag.Name);
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inhalte getaggt mit "@Model.Tag.Name"</h2>
<ul class="book">
	@foreach (var book in Model.Books) {
		<li>
			<a href="@Url.Action("view", "book", new { id = @book.Id })">
				<div style="min-height: 120px;">
					<img src="@ImageStore.GetWebPath(book.Filename, ImageType.PreferThumbnail)" alt="Cover" />
				</div>
				<span>Nr. @book.Number - @book.Name</span>
			</a>
		</li>
	 }
</ul>
<div class="pager">
	@if(Model.PageOffset.HasPrevious) {
		<a href="@Url.Action("view", "tag", new { id = Model.Tag.Id, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })">[zurück]</a>
	}
	@if(Model.PageOffset.HasNext) {
		<a href="@Url.Action("view", "tag", new { id = Model.Tag.Id, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">[weiter]</a>
	}
</div>
