@using ltbdb.Core.Helpers
<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="version" content="@VersionInfo.ProductVersion" />

		<link type="text/css" href="@Url.Content("~/Content/layout.mobile.css")" rel="stylesheet" media="screen" />

		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.mobile.min.js")"></script>

		<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

		<title>@ViewBag.Title</title>
	</head>
	<body>
		<div id="container">
			<header>
				<div id="hamburger">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div id="header">
					@ViewBag.Header
				</div>
				<div style="clear: both;"></div>
			</header>
			<nav>
				<ul>
					<li class="main"><a href="/">Home</a></li>
					<li class="main"><a href="@Url.Action("index", "category")">Kategorien</a></li>
					@{Html.RenderAction("categories", "home"); }
					<li class="main"><a href="/tags">Tags</a></li>
					@{Html.RenderAction("tags", "home"); }
					<li class="main"><a href="@Url.Action("search", "home")">Suche</a></li>
				</ul>
			</nav>
			<div id="content">
				@RenderBody()
			</div>
			<footer>
				<span>Copyright &copy; 2014 by <a href="http://stichelbiene.de">stichelbiene.de</a>. All rights reserved. Version <a href="https://github.com/virtualdreams/ltbdatabase2/commits">@VersionInfo.FileVersion</a></span>
			</footer>
		</div>
	</body>
</html>