@model ltbdb.Models.AddTagModel

@{
    Layout = null;
}

<div class="tag-form">
	<div>
		 @Html.ValidationMessage("bonus")
	</div>
	<form method="post" action="@Url.Action("add", "tag")" id="tag-form">
		<div>
			<div style="display: block;">@Html.ValidationMessage("tag")</div>
			<input type="text" name="tag" value="@Model.Tag" placeholder="Tag" />
		</div>
		<div style="padding-top: 10px;">
			<input type="hidden" name="id" value="@Model.Id" />
			<input type="submit" value="Hinzufügen" />
		</div>
	</form>
</div>