@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Das letzte...</h2>
<ul class="book">
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="book-number">Nr. 1</div>
			<div>
				<img src="@Url.Content("~/Content/no-image.png")" />
			</div>
			<span>Der Kolumbusfalter</span>
		</a>
	</li>
</ul>
