@model ltbdb.Models.BookViewContainer
@using ltbdb.Models
@using ltbdb.Core

@{
    ViewBag.Title = "Lustiges Taschenbuch - Datenbank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zuletzt hinzugefügt...</h2>
<ul class="book">
@foreach (BookModel book in Model.Books) {
	<li>
		<a href="@Url.Action("view", "book", new { id = @book.Id })">
			<div class="book-number">Nr. @book.Number</div>
			<div style="min-height: 120px;">
				<img src="@ImageStore.GetWebPath(book.Filename, true)" />
			</div>
			<span>@book.Name</span>
		</a>
	</li>
	}
</ul>
