@model ltbdb.Models.BookViewSearchContainer
@using ltbdb.Models

@{
    ViewBag.Title = String.Format("Suche nach \"{0}\"", Model.Query);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Suche nach "@Model.Query"</h2>
<ul class="book">
	@foreach (BookModel book in Model.Books) {
		<li>
			<a href="@Url.Action("view", "book", new { id = @book.Id })">
				<div class="book-number">Nr. @book.Number</div>
				<div style="min-height: 120px;">
					<img src="@book.Filename" />
				</div>
				<span>@book.Name</span>
			</a>
		</li>
	 }
</ul>
<div class="pager">
	@if(Model.PageOffset.HasPrevious) {
		<a href="@Url.Action("search", "home", new { q = Model.Query, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })">[zurück]</a>
	}
	@if(Model.PageOffset.HasNext) {
		<a href="@Url.Action("search", "home", new { q = Model.Query, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">[weiter]</a>
	}
</div>
